[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
flask = "*"
flask-session = "*"
flask-restful = "*"
flask-cors = "*"
pyyaml = "*"
gunicorn = "*"
markdown = "*"

[requires]
python_version = "3"
