[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
flask = "*"
flask-session = "*"
flask-cors = "*"
gunicorn = "*"
markdown = "*"
pyyaml = "==4.2b1"
bs4 = "*"
requests = "*"
validator-collection = "*"
html2text = "*"
peewee = "*"

[requires]
python_version = "3.6"
