openapi: 3.0.1
info:
  title: recAPI
  description: API for storing and editing recipe data
  version: '0.1'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  x-logo:
    url: 'https://api.kalufs.lol/recapi/img/default.png'
servers:
  - url: 'https://api.kalufs.lol/recapi'
tags:
  - name: Recipe Data
  - name: Parsing
  - name: Authentication
  - name: Documentation
  - name: Static Files
  - name: misc
paths:

  /api_doc:
    get:
      summary: HTML Docs
      description: View HTML api documentation
      tags:
        - Documentation
      responses:
        '200':
          description: OK
          content:
            text/html; charset=utf-8:
              schema:
                type: string
              examples: {}

  /:
    get:
      summary: HTML Docs
      description: View HTML api documentation
      tags:
        - Documentation
      responses:
        '200':
          description: OK
          content:
            text/html; charset=utf-8:
              schema:
                type: string
              examples: {}

  /api_spec:
    get:
      summary: API spec
      description: View the API specification in JSON
      tags:
        - Documentation
      responses:
        '200':
          description: OK

  /check_authentication:
    post:
      summary: Check authentication
      description: Check if current user is authorized in the active session.
      tags:
        - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: |
                    {
                      "message": "Access denied",
                      "status": "success"
                    }

  /logout:
    post:
      summary: Logout
      description: Remove session for current user.
      tags:
        - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: |
                    {
                      "message": "Logged out successfully",
                      "status": "success"
                    }

  /parse_from_url:
    get:
      summary: Parse recipe
      description: Extract recipe data from given url and return response with recipe data.
      tags:
        - Recipe Data
        - Parsing
      parameters:
        - $ref: '#/components/parameters/urlParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      image:
                        type: string
                      contents:
                        type: string
                      ingredients:
                        type: string
                      source:
                        type: string
                      title:
                        type: string
                  message:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: |
                    {
                      "data": {
                        "contents": "1. Sätt ugnen pä 225\u00b0C. \n  2. Blanda alla torra ingredienser i en skål. Vispa ihop ägg, hälften av honungen och havredryck. Blanda ner de torra ingredienserna.\n  3. Häll i en smord ugnsform. Skala och dela bananerna längs med. Lägg bananhalvorna på gröten och ringla över resten av honungen. Sätt in i mitten av ugnen ca 25 minuter.\n  4.  **Tahinihonung:** Rör ihop tahini och honung. \n  5. **Till servering:** Servera gröten med tahinihonung och yoghurt.",
                        "image": "tmp/ba1b6fe0-2001-11e9-ae64-b827eb7c0ccfjpg",
                        "ingredients": "* 4 dl havregryn\n  * 1 tsk malen kanel\n  * 1/2 tsk malen kardemumma\n  * 1/2 tsk malen ingefära\n  * 2 krm vaniljpulver\n  * 1/2 tsk salt\n  * 1 ägg\n  * 4 msk honung\n  * 5 dl havredryck\n  * 4 små bananer\n\n**Tahiniyoghurt**\n\n  * 2 msk tahini\n  * 3 msk honung\n\n**Till servering**\n\n  * grekisk yoghurt",
                        "source": "https://www.ica.se/recept/bakad-banangrot-med-tahinihonung-724918/",
                        "title": "Bakad banangröt med tahinihonung"
                      },
                      "message": "Successfully extracted recipe.",
                      "status": "success"
                    }

  /get_parsers:
    get:
      summary: Get Parsers
      description: Get a list of the recipe pages for which there is a parser available.
      tags:
        - Parsing
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                        domain:
                          type: string
                        name:
                          type: string
                  message:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: >
                    {
                      "data": [
                        {
                          "address": "https://www.arla.se/recept/",
                          "domain": "arla.se",
                          "name": "Arla"
                        },
                        {
                          "address": "https://www.ica.se/recept/",
                          "domain": "ica.se",
                          "name": "ICA"
                        }
                      ],
                      "message": "Successfully retrieved list of parsable pages.",
                      "status": "success"
                    }

  /view_recipe:
    get:
      summary: View recipe
      description: Generate view for one recipe. Convert markdown data to html.
      tags:
        - Recipe Data
      parameters:
        - $ref: "#/components/parameters/titleParam"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      image:
                        type: string
                      contents:
                        type: string
                      ingredients:
                        type: string
                      source:
                        type: string
                      title:
                        type: string
                      portions:
                        type: integer
                      tags:
                        type: array
                        items:
                          type: string
                  message:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: |
                    {
                      "data": {
                        "contents": "<ol>\n<li>Tina ärtorna.</li>\n<li>Sätt ugnen på 225\u00b0C.</li>\n<li>Koka pastan enligt anvisningen på förpackningen. Låt rinna av.</li>\n<li>Strimla baconet och stek i en stekpanna.</li>\n<li>Vispa ihop cr\u00e8me fraiche, mjölk och ägg. Salta och peppra.</li>\n<li>Häll pastan i en smord ugnssäker form och vänd ner bacon och ärtor. Häll över äggstanningen.</li>\n<li>Riv osten i bitar och lägg på gratängen och gratinera högt upp i ugnen ca 20 minuter, tills den får färg.</li>\n<li>Skär tomaterna i bitar och servera dem till gratängen.</li>\n</ol>",
                        "image": "img/pastagratang-med-bacon-722019.jpg",
                        "ingredients": "<ul>\n<li>250 g gröna ärter</li>\n<li>4 port pasta (farfalle)</li>\n<li>2 förp bacon (\u00e0 140 g)</li>\n<li>2 dl cr\u00e8me fraiche</li>\n<li>2 dl mjölk</li>\n<li>2 ägg</li>\n<li>1/2 tsk salt</li>\n<li>2 krm peppar</li>\n<li>1 msk smör till formen</li>\n<li>4 skivor cheddarost</li>\n<li>3 tomater</li>\n</ul>",
                        "portions": 4,
                        "source": "https://www.ica.se/recept/pastagratang-med-bacon-722019/",
                        "tags": [
                          "middag"
                        ],
                        "title": "Pastagratäng med bacon"
                      },
                      "message": "Data loaded",
                      "status": "success"
                    }

  /clean_tmp_data:
    get:
      summary: Clean temp files
      description: |
        Remove temporary data (usually image files) that have have passed their expiration date,
        i.e. that have not been modified in over a week.
      tags:
        - misc
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: |
                    {
                      "message": "Successfully cleaned temporary data!",
                      "status": "success"
                    }
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status:
                    type: string
              examples:
                '0':
                  value: |
                    {
                      "message": "Cleanup failed: Error message",
                      "status": "error"
                    }

components:

  parameters:
    urlParam:
      name: url
      in: query
      schema:
        type: string
      example: 'https://www.ica.se/recept/bakad-banangrot-med-tahinihonung-724918/'
    titleParam:
      name: title
      in: query
      schema:
        type: string
      example: Pastagratäng med bacon

  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: SESSIONCOOKIE  # cookie name
    ApiKeyAuth:
      type: apiKey
      in: query
      name: password
